body {
	margin: 0px;
	padding: 0px;
	
}
#page{
	width:		100%;
	min-width:	320px;
}

#navigation{
	width:	96%;
	margin:	auto;
	border-right:	1px solid #dcdcdc;
	border-left:	1px solid #dcdcdc;
}

/*Голубая полоска сверху*/

#header {
	border-top: 	5px solid #169fe6;  
	padding-left:	0px;
	padding-right:	0px;       
	width:		92%;
	margin:		auto;  
	border-right:	1px solid #dcdcdc;
	border-left:	1px solid #dcdcdc;
}
	
/*NEVIA*/

@font-face{
	font-family: 'nevis';
	src: url(../fonts/Nevis/nevis.ttf);
}
@font-face{
	font-family: 'opensans';
	src: url(../fonts/OpenSans/OpenSans-Light.ttf);
}
#block-block-6{
	width:	50% !important;
}
#block-block-6>div.header-title{
	display:	inline-block;
	padding-left:	3.5%;
}
#block-block-5{
	padding-right:	3.5%;
}
#block-social-media-links-social-media-links{
	padding-right:	3.5%;
}
#block-search-form{
	padding-right:	3.5%;
	padding-bottom:	2%;
}
#block-block-6 .header-title {
	line-height:	2em; 
	width:		100%;				
}
#block-block-6 .header-title>div{
	display: inline-block;
}
#block-block-6 .header-title div:first-child {
	font-family:  'nevis';
	border-right:  1px solid #888888; 
	font-size:     34px;    
	padding-right: 4%;
}
#block-block-6 .header-title div:last-child { 
	font-family: 'opensans';
	font-size:    12px;
	color: 	      #696969;  
	padding-left: 4%;
	font-weight:  normal;

}
.block-social-media-links .block-title {  
	display: none;
}

#block-social-media-links-social-media-links{
	line-height:   0em;
	float:	       right;
	top:	       0px;
	border-top:    1px #169fe6;
}

.block-social-media-links {
	width:100%;
	text-align:right;
	margin-bottom: 0em;
}
social-media-links platforms inline horizontal {
	margin-bottom: 0em;	
	line-height:   0em;
}

#block-block-5 {
	font-family:	'opensans';
	font-size:	11px;
	color:		#696969;
	text-align: 	right;
	display: 	inline-block;
	float: 		right;
	height:         20px;
}
#block-block-6 {
	width:100%;
	text-align: 	left;
	margin-bottom:  0em;
}
.container-inline {
	width:100%;	
	text-align: 	right;
	display: 	inline-block;
	float: 		right;
}
.form-item form-type-textfield form-item-search-block-form {
	margin: 	0em 0em 0em 0em;
	line-height:	0em;
}

#block-search-form {
	margin-bottom:  2em;
}
#block-social-media-links-social-media-links li{
	padding: 0;
}
#edit-submit{
	display: none;
}
#edit-search-block-form--2{
	background: 		url(../images/zum.png) no-repeat;
	background-position:    right; 
	width: 			190px;
	height:			30px;
	border: 		1px solid #888888;
	border-radius:  	3px;	

}

/*MegaMenu*/

#main{
	width:	96%;
	margin:	auto;
}

#block-tb-megamenu-main-menu>div{  
	background-color:	#4c4c4c;
}
#block-tb-megamenu-main-menu{
	margin-bottom: 0px;
	border-right:	1px solid #dcdcdc;
	border-left:	1px solid #dcdcdc;
}
#block-tb-megamenu-main-menu>#tb-megamenu-main-menu .nav>li>a{
	border-right: 1px solid #808080;
}
.tb-megamenu-item level-1 mega mega-align-justify active active-trail {
	background-color:	#4c4c4c;
	text-decoration: 	none;
	background-image:       url(../images/home.png);
	
}
.tb-megamenu .nav > .active > a, .tb-megamenu .nav > .active > a:hover, .tb-megamenu .nav > .active > a:focus {
	text-decoration: 	none;
	font-family: 		'opensans';
}
.tb-megamenu .nav > .active > a, .tb-megamenu .nav > .active > a:hover, .tb-megamenu .nav > .active > a:focus {
    background-color: #4c4c4c;
    box-shadow: none;
    color: #FFFFFF;
    outline: medium none;
    text-shadow: none;
}    

/*цвет кнопок*/

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
	background-color: #4c4c4c;
}

.nav-collapse always-show{
	text-decoration: 	none;
	font-family: 		'opensans';
}

.tb-megamenu .nav > li > a:hover{
    background-color: #707070 !important;
}
.tb-megamenu-subnav li a {
	text-decoration: none !important;
}
.mega-group > .mega-group-title, .tb-megamenu .dropdown-menu .mega-nav .mega-group > .mega-group-title, .tb-megamenu .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
	text-transform:  none;                /* заголовок меню Features*/
	font-family: 	 'opensans';
	border-bottom:   1px solid #707070 !important;
	color:		 #707070 !important;
	padding:	0px 0px 17px 0px;
	margin:		 0px 0px 17px 0px;

}
.dropdown-menu .mega-nav > li:first-child > a {
    	font-weight: 	 bold;
	color:		 #333333 !important;
}
.tb-megamenu .dropdown-menu a {
	color:	#707070 !important;
}

.tb-megamenu .dropdown-menu {
	position: 	absolute;
	border: 	0px;
}
.tb-megamenu .navbar .nav li.dropdown.open {
	position: 	absolute;
}

#block-tb-megamenu-main-menu:before{
	content: 	''; 
	border: 	8px solid transparent; 
	border-top: 	8px solid #a9a9a9; 
	border-right: 	8px solid #a9a9a9;
	width:		0px;
	height:		0px;
	display:	block;
	position: 	absolute; 
	top:		100%;
	bottom:		-8px;
}
#block-tb-megamenu-main-menu:after{
	content: 	''; 
	border: 	8px solid transparent; 
	border-left: 	8px solid #a9a9a9; 
	border-top: 	8px solid #a9a9a9;
	width:		0px;
	height:		0px;
	display:	block;
	position: 	absolute; 
   	right:		0px;
}
#block-tb-megamenu-main-menu .dropdown-menu{
	background-color:	#ffffff;
}
#block-tb-megamenu-main-menu div.tb-megamenu-submenu{
	left:	110px;
}
#block-tb-megamenu-main-menu div.tb-megamenu-submenu{
	width:	590px !important;
}

/*FlexSlider*/

#block-views-sliderundermenu-block #flexslider-1>ol.flex-control-nav a{
	 display:	none;
}
#block-views-sliderundermenu-block #flexslider-1>ul.flex-direction-nav a.flex-prev{
	position:	absolute;
	left:		0px;
	display:	none;
	float:		left;
}
#block-views-sliderundermenu-block #flexslider-1>ul.flex-direction-nav a.flex-next{
	position:	absolute;
	right:		0px;
	display:	none;
	float:		right;
}

#block-views-sliderundermenu-block div.view-header>p>a{
	background:	#4c4c4c;  
	position:	relative;
	z-index:	10;
	display:	block;
	width:		40px;
	height:		70px;
}
#block-views-sliderundermenu-block div.view-header>p>a.flex-prev{
	border-radius:	0px 3px 3px 0px;
	display:	inline-block;
}
#block-views-sliderundermenu-block div.view-header>p>a.flex-next{
	border-radius:	3px 0px 0px 3px;
	right:		0px;
	position:	relative;	
	display:	block;
	float:		right;
}
#block-views-sliderundermenu-block div.view-header>p>a:hover{
	background:	#169fe6;  
	position:	relative;
	top:		30%;
	z-index:	10;
}

#block-views-sliderundermenu-block div.view-header>p{
	margin-top:	0px;
	margin-bottom:	0px;
}
#block-views-sliderundermenu-block div.view-header{
	position:	absolute;
	width:		100%;
	top:		43%;
}
#block-views-sliderundermenu-block div.view-header a>img{
	position:	relative;
	top:		35%;
	left:		35%;
}

/*Navigation Region*/

#navigation{
	padding-left:	0px;
	padding-right:	0px;
}

/*Clean Design...*/
#flexslider-1{
	margin-bottom:	2.5%;
}
#main{
	padding-top:	0px;
}
#block-views-menu-3-parts-new-block td>div.views-field-title{							
	font-family: 		'opensans';
	font-weight: 		900;
	font-size:     		16pt; 
	color:			#888888;
}
#block-views-menu-3-parts-new-block td>div.views-field-field-menu-3part-new {
	float:	left;
	width:	20%;
}
	
#block-views-menu-3-parts-new-block td>div.views-field-title,
#block-views-menu-3-parts-new-block td>div.views-field-body{
	color:		#333333;
	width:		79%;
	margin-left:	20%;
	padding-top:	2.5%;
}
#block-views-menu-3-parts-new-block td>div.views-field-body{
	padding:	0px;
}
#block-views-menu-3-parts-new-block td>div.views-field-body>div.field-content>p {
	margin-top: 	1.25%;
	margin-bottom:  1.25%;
	color:		#707070;
}
#block-views-menu-3-parts-new-block div.view-content{
	padding-left:	3%;
}
#block-views-menu-3-parts-new-block{
	margin-bottom:	5% !important;
}
@media screen and (max-width:	600px){
#block-views-menu-3-parts-new-block td.col-3 col-last{
	display:	block;
	width:		100%;
	}	
}

/*Раздел Recent Work*/

#block-views-recent-work-block div.view-header{
	width:			25%;

}
#block-views-recent-work-block div.view-content{
	width:			74%;

}

#block-views-recent-work-block div.jcarousel-container{
	width:			90%;
	padding:		0px;
}
div.view-control-text{
	font-family: 		'opensans';
	font-weight: 		900;
	font-size:     		16pt; 
	color:			#333333;
}
div.view-control-text>h4{
	margin-bottom:		0px;
}
div.view-control-text>p{
	font-family: 	'opensans';
	color:		#707070;
	font-size:     	13pt;
	margin-bottom:	0px; 
	margin-top:	10%;
}
div.view-header>p>a.jcarousel-prev{
	background-color:	#c0c0c0;
	width:			25px;
	height:			25px;
	border-radius:		3px 0px 0px 3px;			
}
div.view-header>p>a.jcarousel-next{
	background-color:	#c0c0c0;
	width:			25px;
	height:			25px;	
	margin-left:		3px;
	border-radius:		0px 3px 3px 0px;		
}
#block-views-recent-work-block div.view-header>p{
	margin-top:	10%;
}
#block-views-recent-work-block div.view-header{
	display:		inline-block;
	vertical-align:		top;	
}
#block-views-recent-work-block div.view-content{
	display:	inline-block;
}
#block-views-recent-work-block div.jcarousel-clip>ul.jcarousel>li{	
	margin-right:	20px;
	border:		1px solid #d3d3d3;
/*	width:		20% !important;*/
}
div.jcarousel-container>div.jcarousel-clip{
	width:	100% !important;
}
div.jcarousel-container>a{
	display:	none !important;
}
div.jcarousel-container>div.jcarousel-clip li{
	height:	240px !important;
}
div.jcarousel-skin-default>div.jcarousel-container{
	height:		auto;
}
div.views-field>span.field-content>a{
	text-decoration:	none;
	font-family: 		'opensans';
	font-weight: 		600;
	font-size:     		13pt; 
	color:			#333333;
}
div.views-field>div.field-content{
	font-family: 	'opensans' !important;
	color:		#707070;
	font-size:     	13pt;
}
div.jcarousel-clip div.views-field:first-child{
	border-bottom:	5px solid #a9a9a9;
}

li.jcarousel-item>div.views-field{
	border-bottom:	0px;
}
div.view-recent-work li>div:first-child div.field-content{
	background-color: #c0c0c0;
}
div.view-recent-work li>div.views-field{
	margin-bottom:	6%;
}
div.view-recent-work .views-field-title{
	margin-bottom:	0px !important;
}

div.view-recent-work li>div:first-child div.field-content>img{
	height: inherit;
}
.view-recent-work .jcarousel-item-horizontal:hover .views-field-field-view-recent-work:first-child{
	border-bottom: 5px solid #169fe6;
}
#block-views-recent-work-block>div.view{
	margin-top:	3.5%;
	margin-left: 	3.5%;
}
#block-views-recent-work-block{
	border-top: 	1px solid #dcdcdc;
	border-bottom: 	1px solid #dcdcdc;
	padding-bottom:	2.5%;
}
#block-views-recent-work-block div.view-header>p>a:hover{
	background-color:	#808080;
	width:			25px;
	height:			25px;
}
@media screen and (max-width:	700px){
#block-views-recent-work-block div.view-header{
	width:		100%;
	}	
}
@media screen and (max-width:	900px){
#block-views-recent-work-block .jcarousel-item-3{
	/*float:	none !important
	height:		320px !important;
	width:		240px !important; */
	display:	none !important;
	width:		100% !important;
	}	
}
@media screen and (max-width:	800px){
#block-views-recent-work-block .jcarousel-item-2{
	/*float:		none !important
	height:		320px !important;
	width:		240px !important;*/
	display:	none !important;
	width:		100% !important;
	}	
}
@media screen and (max-width:	700px){
#block-views-recent-work-block .jcarousel-item-1{
	float:		none !important
	height:		320px !important;
	width:		240px !important;
	}	
}

#block-views-recent-work-block div.view-content{
	overflow:	hidden;
	/*height:		320px !important;*/
}
#block-views-recent-work-block .jcarousel-container{
	/*height:		245px !important;*/
	overflow:	hidden;
}
#block-views-recent-work-block .jcarousel-clip{
	/*height:		245px !important;*/
	overflow:	hidden;
}
/*Убираю строку с  No front page...*/
#first-time>p{
	display:	none;
}
#first-time>div.item-list>ul a{
	display:	none !important;
}

/*Recent News*/

#block-views-mynewviews-block{
	width:		49%;
	display:	inline-block;
	margin-bottom:	3% !important;
}
li.views-row{
	list-style-type:	none;
}
#block-views-lastmenu-block>h2{
	font-family: 		'opensans';
	font-weight: 		bold;
	font-size:     		16pt; 
	color:			#333333;
	margin-top:		3.5%;
	margin-left:		3.5%;
	margin-bottom:		30px;
}
#block-views-lastmenu-block div.view-content{
	margin-left:	100px;
}

#block-views-testimonials-block p{
	font-family: 		'opensans';
	font-weight: 		900;
	font-size:     		13pt; 
	color:			#333333;
	margin-right:		3.5%;
}
div.field-name-field-lastmenu span.date-display-single{
	bottom:		330px;
	right:		65px;
	display:	inline-block;
	width:		40px;
}

#block-views-testimonials-block a{
	display:	none;
}

#block-views-mynewviews-block{
	margin-left:	3.5%;
	margin-top:	3.5%;
}
#block-views-mynewviews-block div.view-header {
	position:	inherit;
}
#block-views-mynewviews-block span.textcolor1{
	font-family: 		'opensans';
	font-weight: 		bold;
	font-size:     		16pt; 
	color:			#333333;
}
#block-views-mynewviews-block span.textcolor2{
	font-family: 		'opensans';
	font-weight: 		bold;
	font-size:     		16pt; 
	color:			#707070;
}
div.view-mynewviews{
	display:	inline-block; 
	width:		99%;
}
div.view-mynewviews div.views-row-1{
	display:	inline-block;
	width:		49%;
	vertical-align:	top;
}
div.view-mynewviews div.views-row-2{
	display:	inline-block;
	width:		49%;
	vertical-align:	top;
}
div.view-mynewviews .views-field-created{
	background-color:	#c0c0c0;
	width:			19%;
	height:			19%;	
}
div.view-mynewviews .views-field-created{
	color:			#707070;
	font-family: 		'opensans';
	font-weight: 		bold;
	font-size:     		16pt; 
	border-radius:		3px 3px 0px 0px;	
}
div.view-mynewviews .views-field-created-1{
	background-color:	#a9a9a9;
	width:			19%;
	height:			9.5%;	
	clear:			left;
	float:			left;
}
div.view-mynewviews .views-field-created-1{
	color:			#c0c0c0;
	font-family: 		'opensans';
	font-weight: 		bold;
	font-size:     		13pt; 
	border-radius:		0px 0px 3px 3px;	
	text-align:		center;
}
#block-views-mynewviews-block div.view-content{
	margin-left:	0px;
}
#block-views-mynewviews-block .views-field-created{
	float:		left;		
	text-align:	center;
	line-height:	2.5em;
}

#block-views-mynewviews-block .views-field-title{
	margin-left:	25%;
}
#block-views-mynewviews-block .views-field-body{
	margin-left:	25%;
}
#block-views-mynewviews-block .views-field-body>div.field-content{
	color:		#333333;
}
@media screen and (max-width:	950px){
#block-views-mynewviews-block .views-row-1{
	width:		100%
	}	
}
@media screen and (max-width:	950px){
#block-views-mynewviews-block .views-row-2{
	display:	block;
	width:		100%;
	}	
}

/*Testimonials*/

#block-views-testimonialslast-block{
	display:	inline-block;
	vertical-align:	top;
	margin-top:	30px;
	width:		46%;
	height:		250px;
	margin-bottom:	7%;
}

#block-views-testimonialslast-block span.textcolor3{
	font-family: 		'opensans';
	font-weight: 		bold;
	font-size:     		16pt; 
	color:			#333333;
	margin-left:		4%;
}
#block-views-testimonialslast-block span.textcolor4{
	font-family: 		'opensans';
	font-weight: 		bold;
	font-size:     		16pt; 
	color:			#707070;
}
div.view-testimonialslast>div.view-content a{
	display:	none;
}
div.view-testimonialslast>div.view-content{
	margin-left:		4%;
	background-color:	#c0c0c0;
	width:			80%;
	padding:		6%;
	border-bottom:		1px solid #a9a9a9;
	border-radius:		3px 3px 3px 3px;
}
div.view-testimonialslast:after{
	content: 	''; 
	border: 	11px solid transparent; 
	border-top: 	11px solid #c0c0c0; 
	border-right: 	11px solid #c0c0c0;
	width:		0px;
	height:		0px;
	display:	block;
	position: 	relative; 
   	left:		10%;
	bottom:		1%;
	z-index:	10;
}

div.view-testimonialslast>div.view-content>div.views-row div.field-content{
	font-family: 		'opensans';
	font-size:     		13pt; 
	color:			#333333;
}
#block-views-testimonialslast-block div.view-header{
	margin-bottom:	6%;
}
@media screen and (max-width:	900px){
#block-views-testimonialslast-block .view-testimonialslast{
	display:	block;
	width:		100%;
	}	
}
/*Footer*/

#footer{
	background-color:	#4c4c4c;
	padding-left:		0px;
	padding-right:		0px;
	width:			92%;
	margin:			auto;
}
/*About US*/

#block-views-basement-block{
	padding-top:		2%;
	padding-left:		3%;
	display:		inline-block;
	padding-bottom:		5%;
	padding-right:		1%;
	width:			22%;
	vertical-align:		top;
	margin-bottom:		0px;
}
div.view-basement{
	width: 100%;
}
#block-views-basement-block a{
	text-decoration:	none;
	font-family: 		'opensans';
	font-size:     		16pt; 
	color:			#ffffff;
	font-weight: 		bold;
}
#block-views-basement-block p{
	text-decoration:	none;
	font-family: 		'opensans';
	font-size:     		13pt; 
	color:			#a9a9a9;
	margin-top:		0px;
	margin-bottom:		0px;
}
@media screen and (max-width:	700px){
#block-views-basement-block{

	width:		48%;
	}	
}

/*Conact Details*/

#block-views-1234-block{
	display:		inline-block;
	width:			22%;
	padding-top:		2.3%;
	padding-bottom:		3.1%;
	vertical-align:		top;
	padding-left:		3%;
	
}
#block-views-1234-block p{
	margin-top:	0px;
	margin-bottom:	0px;
}
#block-views-1234-block h2{
	font-family: 		'opensans';
	font-size:     		16pt; 
	color:			#ffffff;
	font-weight: 		bold;
	padding-bottom:		6%;
}
#block-views-1234-block span.textcolor9{
	font-family: 		'opensans';
	font-size:     		13pt; 
	color:			#ffffff;
}
#block-views-1234-block span.textcolor10{
	font-family: 		'opensans';
	font-size:     		13pt; 
	color:			#a9a9a9;
}
#block-views-1234-block span.textcolor5{
	font-family: 		'opensans';
	font-size:     		13pt; 
	color:			#ffffff;
}
#block-views-1234-block span.textcolor6>a{
	text-decoration:	none;
	font-family: 		'opensans';
	font-size:     		13pt; 
	color:			#a9a9a9;
}
#block-views-1234-block span.textcolor7{
	font-family: 		'opensans';
	font-size:     		13pt; 
	color:			#ffffff;
}
#block-views-1234-block span.textcolor8{
	font-family: 		'opensans';
	font-size:     		13pt; 
	color:			#a9a9a9;
}
#block-views-1234-block .views-field-field-basement1-1{
	display:	inline-block;
	width:		10%;
}
#block-views-1234-block .views-field-body{
	display:	inline-block;
	width:		85%;
}
#block-views-1234-block .views-field-field-basement1-1{
	vertical-align:	top;
}
#block-views-1234-block .views-row-1{
	padding-bottom:		4%;
}
#block-views-1234-block .views-row-2{
	padding-bottom:		4%;
}
#block-views-1234-block .views-row-3{
	padding-bottom:		4%;
}
@media screen and (max-width:	600px){
#block-views-1234-block{
	display:	block;
	}	
}
@media screen and (max-width:	700px){
#block-views-1234-block{

	width:		48%;
	}	
}
/*Photo Stream*/

#block-views-photo-stream-view-block{
	display:		inline-block;
	width:			22%;
	vertical-align:		top;
	padding-top:		2.3%;
}
#block-views-photo-stream-view-block h2{
	font-family: 		'opensans';
	font-size:     		16pt; 
	color:			#ffffff;
	font-weight: 		bold;
	padding-left:		6%;
}
#block-views-photo-stream-view-block h2>a{
	display:	none;
}
#block-views-photo-stream-view-block div.view-photo-stream-view{
	padding-left:		6%;
	padding-top:		6%;
	padding-bottom:		6%;
}
#block-views-photo-stream-view-block .row-first>td{
	padding-right:		8%;
	padding-left:		0px;
}
#block-views-photo-stream-view-block .row-last>td{
	padding-right:		8%; 
	padding-left:		0px;
}
#block-views-photo-stream-view-block .row-first div.field-name-field-photo-stream a>img{
	border:	5px solid #424242;
}
#block-views-photo-stream-view-block .row-last div.field-name-field-photo-stream a>img{
	border:	5px solid #424242;
}
#block-views-photo-stream-view-block .cols-3{
	margin-bottom:	0px;
	margin-top:	0px;
}
#block-views-photo-stream-view-block img{
	height:	100%;
	width:	100%;
}
@media screen and (max-width:	700px){
#block-views-photo-stream-view-block{
	display:	block;
	width:		48%;
	}	
}
/*Twitter*/

#block-views-twitter-view-block{
	display:		inline-block;
	width:			24%;
	vertical-align:		top;
	padding-top:		3%;
}
#block-views-twitter-view-block span.field-content>a{
	font-family: 		'opensans';
	font-size:     		16pt; 
	color:			#ffffff;
	font-weight: 		bold;	
}
#block-views-twitter-view-block .views-field-field-twitter{
	display:	inline-block;
	width:		10%;
	vertical-align:	top;
}
#block-views-twitter-view-block .views-field-body{
	display:	inline-block;
	width:		85%;
}
#block-views-twitter-view-block .views-field-body>div.field-content{
	font-family: 		'opensans';
	font-size:     		13pt; 
	color:			#a9a9a9;
}
#block-views-twitter-view-block .views-field-field-twitter-link a{
	display:	none;
}
#block-views-twitter-view-block .views-field-body a{
	text-decoration:	none;
	color:			#ffffff;
}
#block-views-twitter-view-block .views-field-body p{
	margin-top:	0px;
	margin-bottom:	0px;
}
#block-views-twitter-view-block span>em{
	font-family: 		'opensans';
	font-size:     		13pt; 
	color:			#808080;
	font-style:		normal;
}
#block-views-twitter-view-block span{
	font-family: 		'opensans';
	font-size:     		13pt; 
	color:			#808080;
	font-style:		normal;
	padding-left:		10.4%;
}
#block-views-twitter-view-block .views-field-title>span{
	padding-left:		0px;
	padding-bottom:		6%;
}
#block-views-twitter-view-block .views-field-title{
	padding-bottom:		6%;
}
#block-views-twitter-view-block div.views-row{
	padding-left:		6%;
}
@media screen and (max-width:	900px){
#block-views-twitter-view-block{
	display:	block;
	width:		48%;
	}	
}

/*dote*/

#first-time{
	display:	none;
}
#block-views-footer-view-block{
	display:	none;
}
#navigation{
	height:		auto;	
	position:	static;
}

/*Copyright*/

#block-block-4{
	background-color:	#3b3b3b;
	margin-bottom:		0px;
	height:			11%;
	padding-top:		2%;
	padding-bottom:		2%;
	position:		inherit;
}
#block-block-4>div.down{
	text-decoration:	none;
	font-family: 		'opensans';
	font-size:     		13pt; 
	color:			#808080;
	width:			48%;	
	text-align:		left;	
	display:		inline-block;	
	padding-left:		3%;
}
#block-block-4>div.down>span{
	color:			#ffffff;
}
#block-block-4>div.down1{
	
	text-align:		right;
	width:			45%;	
	display:		inline-block;
}
#block-block-4>div.down1>a{
	text-decoration:	none;
	font-family: 		'opensans';
	font-size:     		13pt; 
	color:			#808080;
}

.front #block-tb-megamenu-main-menu div.nav-collapse>ul>li:first-child>a{
	background-color: #169fe6 !important;
}

